<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvna6oR6GtZsQ5v0AN53OFoTgo3MCUEQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>350650591313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iosApplication</string>
	<key>PROJECT_ID</key>
	<string>pixema-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>pixema-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350650591313:ios:120f813fab947687b43070</string>
</dict>
</plist>